@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.24;
  background-color: #fff;
  color: #1d1c1d;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  position: absolute;
  padding: 0 24px;
  width: 100%;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 26px;
  max-width: 1352px;
  backdrop-filter: blur(60px);
  background: rgba(108, 185, 171, 0.7);
}

.header__logo-link {
  font-size: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__cart-link {
  width: 28px;
  height: 28px;
  padding: 11px 4px 3px;
  font-size: 12px;
  color: #64099b;
  background-image: url("/img/bag.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.promo {
  background-color: #6cb9ab;
  color: #fff;
}

.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url("/img/bg-image.png");
  background-repeat: no-repeat;
  background-position: right 113px bottom 0;
}

.promo__title {
  margin-bottom: 60px;
  max-width: 788px;
  font-weight: 400;
  font-size: 88px;
  line-height: 1.1;
}

.promo__link {
  display: inline-block;
  padding: 16px 24px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.products {
  padding: 100px 0;
}

.products__title {
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 54px;
  line-height: 1.1;
  color: #64099b;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  height: 100%;
  border-radius: 6px;
  background-color: #f2f9f7;
  color: #1d1c1d;;
}

.product__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px 24px 24px 24px;
}

.product__image {
  display: block;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.product__title {
  /*flex-grow: 1;*/
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product__price {
  margin: 0;
  margin-top: auto;
}

.footer {
  padding: 60px 0;
  background-color: #6cb9ab;
  color: #fff;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 38px;
  justify-content: space-between;
}

.footer__logo-link {
  font-size: 0;
}

.footer__menu {
  display: flex;
  gap: 50px;
}

.footer__info {
  font-size: 16px;
}

.footer__copyright {
  margin: 0;
  margin-bottom: 17px;
}

.footer__developer:not(:last-child) {
  margin-bottom: 3px;
}

.footer__email {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__social {
  display: flex;
  gap: 12px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 42px;
  }

  .header {
    padding: 0 20px;
    top: 20px;
  }

  .header__container {
    padding: 12px 22px;
  }

  /*  promo  */
  .promo__container {
    padding-top: 172px;
    padding-bottom: 60px;
    background-image: url("/img/bg-image-1024.png");
    background-position: right 48px bottom 0;
  }

  .promo__title {
    max-width: 620px;
    margin-bottom: 40px;
    font-size: 70px;
  }

  /* products */
  .product {
    min-height: 450px;
  }

  /*  footer  */
  .footer__menu {
    gap: 32px;
  }
}

@media (max-width: 940px) {
  .header__container {
    padding: 8px 22px;
  }

  .header__logo {
    width: 78px;
  }

  .header__menu {
    gap: 24px;
  }

  .header__menu-link {
    font-size: 16px;
  }

  /*  promo  */
  .promo__title {
    max-width: 460px;
    font-size: 54px;
  }

  .promo__container {
    padding-top: 157px;
    background-position: right bottom;
    background-size: 203px;
  }

  .promo__link {
    padding: 12px 18px;
    font-size: 16px;
  }

  /* products */
  .products {
    padding: 80px 0;
  }

  .products__title {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
  }

  .product {
    min-height: 360px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__price {
    font-size: 16px;
  }

  /*  footer  */
  .footer {
    padding: 40px 0;
  }

  .footer__menu {
    gap: 24px;
    font-size: 16px;
  }

  .footer__info {
    font-size: 12px;
  }

  .footer__email {
    margin-bottom: 12px;
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 0 16px;
  }

  .header {
    top: 0;
    padding: 0;
  }

  .header__container {
    padding: 8px 16px;
  }

  .header__menu {
    display: none;
  }

  /*  promo  */
  .promo__container {
    padding-top: 89px;
    padding-bottom: 249px;
    background-image: url("/img/bg-image-320.png");
    background-position: right 70px bottom 0;
    background-size: 145px;
  }

  .promo__title {
    margin-bottom: 24px;
    font-size: 40px;
  }

  /* products */
  .products {
    padding: 60px 0;
  }

  .products__list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
  }

  .product__content {
    padding: 32px 8px 16px;
  }

  .product__image {
    height: 226px;
  }

  .product__title {
    font-size: 16px;
  }

  /*  footer  */
  .footer__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer__menu {
    flex-direction: column;
    gap: 10px;
  }

  .footer__info {
    order: 1;
  }
}
