.cart-item {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #f2f9f7;
}

.cart-item__image {
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.cart-item__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  color: #1d1c1d;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart-item__quantity {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.cart-item__quantity-btn {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.cart-item__quantity-btn_minus {
  background-image: url("/img/minus.svg");
}

.cart-item__quantity-btn_plus {
  background-image: url("/img/plus.svg");
}

.cart-item__quantity-input {
  width: 26px;
  text-align: center;
  border: transparent;
  background-color: transparent;
  outline: transparent;
}

.cart-item__price {
  margin: 0;
  margin-top: auto;
}

@media (max-width: 940px) {
  .cart-item__info {
    font-size: 16px;
  }

  .cart-item__title {
    font-size: 16px;
  }

  .cart-item__quantity-btn {
    width: 24px;
    height: 24px;
  }

  .cart-item__quantity-input {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .cart-item__info {
    padding: 16px 8px;
  }

  .cart-item__title {
    font-size: 16px;
  }

  .cart-item__quantity {
    margin-bottom: 12px;
  }

  .cart-item__price {
    font-size: 16px;
  }
}

