.cart-item {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #f2f9f7;
}

.cart-item__image {
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
}

.cart-item__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  color: #1d1c1d;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cart-item__quantity {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.cart-item__price {
  margin: 0;
  margin-top: auto;
}

@media (max-width: 940px) {
  .cart-item__info {
    font-size: 16px;
  }

  .cart-item__title {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .cart-item__info {
    padding: 16px 8px;
  }

  .cart-item__title {
    font-size: 16px;
  }

  .cart-item__price {
    font-size: 16px;
  }
}

