.header {
  position: absolute;
  padding: 0 24px;
  width: 100%;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 26px;
  max-width: 1352px;
  border-radius: 6px;
  backdrop-filter: blur(60px);
  background: rgba(108, 185, 171, 0.7);
}

.header__logo-link {
  font-size: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__menu-link {
  transition: color 0.3s ease-in-out;
}

.header__menu-link.active {
  color: #64099b;
}

.header__menu-link:hover {
  color: #64099b;
}

.header__cart-link {
  width: 28px;
  height: 28px;
  padding: 11px 4px 3px;
  font-size: 12px;
  color: #64099b;
  background-image: url("/img/bag.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.header__cart-link:hover {
  transform: scale(1.1);
}

.header__control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__close-btn {
  display: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1240px) {
  .header {
    padding: 0 20px;
    top: 20px;
  }

  .header__container {
    padding: 12px 22px;
  }
}

@media (max-width: 940px) {
  .header__container {
    padding: 8px 22px;
  }

  .header__logo {
    width: 78px;
  }

  .header__menu {
    gap: 24px;
  }

  .header__menu-link {
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .header {
    top: 0;
    padding: 0;
  }

  .header__container {
    padding: 8px 16px;
    border-radius: 0;
  }

  .header__menu-link {
    font-size: 24px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .header__nav.active {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    overflow: hidden; /* чтобы не было внутреннего скролла */
    background-color: #6cb9ab;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
  }

  .header__close-btn {
    position: absolute;
    top: 20px;
    right: 16px;
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
