.modal-cart__overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-cart {
  padding: 30px;
  max-width: 600px;
  width: 80%;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  background-color: #f2f9f7;
}

.modal-cart__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
}

.modal-cart__btn {
  padding: 15px 24px;
  border: 1px solid #64099b;
  border-radius: 4px;
  color: #64099b;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
}

@media (max-width: 940px) {
  .modal-cart {
    padding: 20px;
    max-width: 460px;
  }

  .modal-cart__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .modal-cart__btn {
    padding: 12px 18px;
  }
}

@media (max-width: 660px) {
  .modal-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    max-width: 330px;
    min-height: 200px;
  }

  .modal-cart__title {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .modal-cart__btn {
    font-size: 18px;
    padding: 12px 18px;
  }
}
