.promo {
  background-color: #6cb9ab;
  color: #fff;
}

.promo__container {
  min-height: 610px;
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url("/img/bg-image.png");
  background-repeat: no-repeat;
  background-position: right 113px bottom 0;
}

.promo__title {
  margin-bottom: 60px;
  max-width: 788px;
  font-weight: 400;
  font-size: 88px;
  line-height: 1.1;
}

.promo__link {
  display: inline-block;
  padding: 16px 24px;
  border: 1px solid #fff;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.promo__link:hover {
  background-color: #fff;
  color: #6cb9ab;
}

@media (max-width: 1240px) {
  .promo__container {
    min-height: 490px;
    padding-top: 172px;
    padding-bottom: 60px;
    background-image: url("/img/bg-image-1024.png");
    background-position: right 48px bottom 0;
  }

  .promo__title {
    max-width: 620px;
    margin-bottom: 40px;
    font-size: 70px;
  }
}

@media (max-width: 940px) {
  .promo__container {
    min-height: 429px;
    padding-top: 157px;
    background-position: right bottom;
    background-size: 203px;
  }

  .promo__title {
    max-width: 460px;
    font-size: 54px;
  }

  .promo__link {
    padding: 12px 18px;
    font-size: 16px;
  }
}

@media (max-width: 660px) {
  .promo__container {
    padding-top: 90px;
    padding-bottom: 250px;
    background-image: url("/img/bg-image-320.png");
    background-position: center bottom;
    background-size: 145px;
  }

  .promo__title {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
